{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Ciudad</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <a data-href="{{ path('ciudad_new') }}" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10 edicion"  data-toggle="m-tooltip" data-skin="dark" data-placement="bottom" data-original-title="Adicionar ciudad">
                Nuevo
            </a>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                {% include 'layout/recortes/KnpPaginatorMySkin/filtro.html.twig'%}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            Listado
                        </h3>
                    </div>
                    <table class="table table-hover" id="ciudad_entity_table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Clave</th>
                            <th>Municipio</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i=(ciudads.page |default(1) -1)*knp_num_items_per_page+1 %}
                        {% for ciudad in ciudads %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ ciudad.nombre }}</td>
                                <td>{{ ciudad.clave }}</td>
                                <td>{{ ciudad.municipio }}</td>
                                <td>{{ ciudad.estado }}</td>
                                <td>
                                    <ul class="hidden_element list-inline pull-right">
                                        <li class="list-inline-item"><a class="btn btn-primary btn-sm edicion" data-href="{{ path('ciudad_edit', {'id': ciudad.id}) }}"><i class="fa fa-edit"></i>Editar</a></li>
                                    </ul>
                                </td>
                            </tr>
                            {% set i=1+i %}
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation">
                        {{ knp_pagination_render(ciudads,
                            null,
                            {
                                'filtro': filtro,
                            }
                        ) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/entity/ciudad.js','app') }}" type="text/javascript"></script>
    <script>
        ciudad.init();
    </script>
{% endblock %}