<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles de la ciudad
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td colspan="3">{{ ciudad.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Clave</th>
                            <td>{{ ciudad.clave }}</td>
                            <th>Estatus</th>
                            <td>{{ draw_estatus(ciudad.estatus.code,ciudad.estatus.estatus) }}</td>
                        </tr>
                        <tr>
                            <th>Estado</th>
                            <td>{{ ciudad.estado }}</td>
                            <th>Municipio</th>
                            <td>{{ ciudad.municipio}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
        </div>
    </div>
</div>