<!DOCTYPE html>

<title>TipoAccion index</title>

{% block body %}
    <h1>TipoAccion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Accion</th>
                <th>Descripcion</th>
                <th>Fechacaptura</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_accion in tipo_accions %}
            <tr>
                <td>{{ tipo_accion.id }}</td>
                <td>{{ tipo_accion.accion }}</td>
                <td>{{ tipo_accion.descripcion }}</td>
                <td>{{ tipo_accion.fechacaptura ? tipo_accion.fechacaptura|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('tipo_accion_show', {'id': tipo_accion.id}) }}">show</a>
                    <a href="{{ path('tipo_accion_edit', {'id': tipo_accion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_accion_new') }}">Create new</a>
{% endblock %}
