<!DOCTYPE html>

<title>TipoAccion</title>

{% block body %}
    <h1>TipoAccion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_accion.id }}</td>
            </tr>
            <tr>
                <th>Accion</th>
                <td>{{ tipo_accion.accion }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo_accion.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechacaptura</th>
                <td>{{ tipo_accion.fechacaptura ? tipo_accion.fechacaptura|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_accion_index') }}">back to list</a>

    <a href="{{ path('tipo_accion_edit', {'id': tipo_accion.id}) }}">edit</a>

    {{ include('tipo_accion/_delete_form.html.twig') }}
{% endblock %}
