<!DOCTYPE html>

<title>TipoCondicion</title>

{% block body %}
    <h1>TipoCondicion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_condicion.id }}</td>
            </tr>
            <tr>
                <th>Condicion</th>
                <td>{{ tipo_condicion.condicion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_condicion_index') }}">back to list</a>

    <a href="{{ path('tipo_condicion_edit', {'id': tipo_condicion.id}) }}">edit</a>

    {{ include('tipo_condicion/_delete_form.html.twig') }}
{% endblock %}
