<!DOCTYPE html>

<title>TipoComprobante</title>

{% block body %}
    <h1>TipoComprobante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_comprobante.id }}</td>
            </tr>
            <tr>
                <th>Comprobante</th>
                <td>{{ tipo_comprobante.comprobante }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo_comprobante.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechacaptura</th>
                <td>{{ tipo_comprobante.fechacaptura ? tipo_comprobante.fechacaptura|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_comprobante_index') }}">back to list</a>

    <a href="{{ path('tipo_comprobante_edit', {'id': tipo_comprobante.id}) }}">edit</a>

    {{ include('tipo_comprobante/_delete_form.html.twig') }}
{% endblock %}
