{% extends 'escuela/show.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/custom/datatables/datatables.bundle.css','template') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css','template') }}"/>
{% endblock %}
{% block escuela_show_body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Escuela {{ escuela.escuela }}</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <h3 class="kt-subheader__title">Proyectos</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            Listado
                        </h3>
                    </div>
                    <table class="table" id="proyecto_entity_table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Número</th>
                            <th>Escuela</th>
                            <th>Fecha de Inicio</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i=1 %}
                        {% for proyecto in proyectos %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ proyecto.numero }}</td>
                                <td>{{ proyecto.escuela }}</td>
                                <td>{{ proyecto.fechainicio | date('Y-m-d') }}</td>
                                <td>
                                    <ul class="hidden_element list-inline pull-right">
                                        <li class="list-inline-item"><a class="btn default btn-sm show" data-href="{{ path('proyecto_show', {'id': proyecto.id}) }}"><i class="fa fa-eye"></i>Visualizar</a></li>
                                    </ul>
                                </td>
                            </tr>
                            {% set i=1+i %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendors/custom/datatables/datatables.bundle.js','template') }}" type="text/javascript"></script>
    <script src="{{ asset('js/entity/escuela_proyecto.js','app') }}" type="text/javascript"></script>
    <script>
        escuela_proyecto.init();
    </script>
{% endblock %}