{% embed 'proyecto/template.html.twig'  with {'plantel': proyecto.plantel} %}

    {% block plantel_show_body %}
        <div class="row">
            <div class="col-xl-12">
                <!--begin:: Widgets/Daily Sales-->
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-widget14">
                        <div class="kt-widget14__header kt-margin-b-30">
                            <h3 class="kt-widget14__title">
                                Detalles del proyecto
                            </h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Número</th>
                                <td colspan="3">{{ proyecto.numero }}</td>
                            </tr>
                            <tr>
                                <th>Plantel</th>
                                <td>{{ proyecto.plantel.nombre }}</td>
                                <th>Monto asignado</th>
                                <td>{{ proyecto.montoasignado }}</td>
                            </tr>
                            <tr>
                                <th>Fecha de inicio</th>
                                <td>{{ proyecto.fechainicio | date('Y-m-d') }}</td>
                                <th>Monto gastado</th>
                                <td>{{ montogastado }}</td>
                            </tr>
                            <tr>
                                <th>Fecha de fin</th>
                                <td>{{ proyecto.fechafin | date('Y-m-d') }}</td>
                                <th>Saldo final</th>
                                <td>{{ saldofinal }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% endembed %}
