{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            {% block escuela_show_header %}
            {% endblock escuela_show_header %}
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-primary btn-icon">
                    <i class="flaticon2-file"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon">
                    <i class="flaticon-download-1"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon">
                    <i class="flaticon2-fax"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon">
                    <i class="flaticon2-settings"></i>
                </a>
                <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="Quick actions">
                    <a href="#" class="btn btn-icon btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon2-plus"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(35px, 35px, 0px);">
                        <!--begin::Nav-->
                        <ul class="kt-nav">
                            <li class="kt-nav__item">
                                <a href="{{ path('escuela_show',{'id':escuela.id}) }}" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-information"></i>
                                    <span class="kt-nav__link-text">Detalles de la escuela</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="{{ path('proyecto_findby_escuela',{'id':escuela.id}) }}" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-analytics-2"></i>
                                    <span class="kt-nav__link-text">Proyectos</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="{{ path('diagnostico_plantel_index',{'id':escuela.id}) }}" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-contract"></i>
                                    <span class="kt-nav__link-text">Diagnóstico del plantel</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="{{ path('plan_trabajo_index',{'id':escuela.id}) }}" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                    <span class="kt-nav__link-text">Planes de trabajo</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="{{ path('control_gastos_index',{'id':escuela.id}) }}" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-infographic"></i>
                                    <span class="kt-nav__link-text">Control de gastos</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="{{ path('rendicion_cuentas_index',{'id':escuela.id}) }}" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-checking"></i>
                                    <span class="kt-nav__link-text">Rendición de cuentas</span>
                                </a>
                            </li>
                        </ul>

                        <!--end::Nav-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% block escuela_show_body %}
            {% endblock escuela_show_body %}
        </div>
    </div>
{% endblock %}