<!DOCTYPE html>

<title>RendicionCuentas</title>

{% block body %}
    <h1>RendicionCuentas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendicion_cuenta.id }}</td>
            </tr>
            <tr>
                <th>Fechacaptura</th>
                <td>{{ rendicion_cuenta.fechacaptura ? rendicion_cuenta.fechacaptura|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ rendicion_cuenta.monto }}</td>
            </tr>
            <tr>
                <th>Rendicionesarchivos</th>
                <td>{{ rendicion_cuenta.rendicionesarchivos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rendicion_cuentas_index') }}">back to list</a>

    <a href="{{ path('rendicion_cuentas_edit', {'id': rendicion_cuenta.id}) }}">edit</a>

    {{ include('rendicion_cuentas/_delete_form.html.twig') }}
{% endblock %}
