<!DOCTYPE html>

<title>Estatus</title>

{% block body %}
    <h1>Estatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estatus.id }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ estatus.estatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estatus_index') }}">back to list</a>

    <a href="{{ path('estatus_edit', {'id': estatus.id}) }}">edit</a>

    {{ include('estatus/_delete_form.html.twig') }}
{% endblock %}
