<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles del plan de trabajo
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Proyecto</th>
                            <td colspan="3">{{ plan_trabajo.proyecto }}</td>
                        </tr>
                        <tr>
                            <th>Tipo de Acción</th>
                            <td>{{ plan_trabajo.tipoAccion }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de captura</th>
                            <td>{{ plan_trabajo.fechacaptura | date('Y-m-d')}}</td>
                        </tr>
                        <tr>
                            <th>Tiempo estimado</th>
                            <td>{{ plan_trabajo.tiempoestimado }}</td>
                        </tr>
                        <tr>
                            <th>Costo estimado</th>
                            <td>{{ plan_trabajo.costoestimado }}</td>
                        </tr>
                        <tr>
                            <th>Total de recursos asignados</th>
                            <td>{{ plan_trabajo.totalrecursosasignados }}</td>
                        </tr>
                        <tr>
                            <th>Descripción</th>
                            <td>{{ plan_trabajo.descripcionaccion }}</td>
                        </tr>
                        <tr>
                            <th>Estatus</th>
                            <td>{{ draw_estatus(plan_trabajo.estatus.code,plan_trabajo.estatus.estatus) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary btn-sm" href="{{ path('plan_trabajo_descargar',{'id':plan_trabajo.id}) }}"> <i class="fa fa-download"></i>Descargar</a>
            <a class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
        </div>
    </div>
</div>