<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
        <span class="kt-menu__link-text">
             <i class="kt-menu__link-bullet flaticon-interface-7"></i>
            Administraci칩n</span>
    </a>
    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
        <ul class="kt-menu__subnav">
            <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('proyecto_index') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Proyectos</span></a></li>
            <li class="kt-menu__item  kt-menu__item--submenu" data-ktmenu-submenu-toggle="hover" aria-haspopup="true"><a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Cat치logos</span><i class="kt-menu__hor-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('tipo_accion_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Tipos de acci칩n</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('tipo_comprobante_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Tipos de comprobante</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('tipo_asentamiento_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Tipos de asentamiento</span></a></li>
                    </ul>
                </div>
            </li>

            <li class="kt-menu__item  kt-menu__item--submenu" data-ktmenu-submenu-toggle="hover" aria-haspopup="true"><a href="#" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Nacional</span><i class="kt-menu__hor-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estado_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Estado</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('municipio_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Municipio</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('ciudad_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">Ciudad</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('codigo_postal_index') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">C칩digos postales</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</li>