{{ form_start(form,{'attr':{
    'id': form_id|default('codigo_postal_form'),
    'class': 'm-form m-form--state'
}}) }}
<div class="modal-body" id="modal-body">
    {%  include 'codigo_postal/_fields.html.twig' %}
</div>
{{ form_errors(form) }}
{{ form_rest(form) }}
<ul class="list-inline pull-right">
    <li class="list-inline-item">
        <a class="btn btn-sm btn-secondary" href="{{ path('codigo_postal_index') }}"><i class="flaticon-cancel"></i> Cancelar</a>
    </li>
    {% if eliminable is defined %}
    <li class="list-inline-item">
        <a class="btn btn-danger btn-sm  eliminar_codigo_postal"
           data-href="{{ path('codigo_postal_delete', { 'id': codigo_postal.id }) }}"
           data-csrf="{{ csrf_token('delete' ~ codigo_postal.id) }}">
            <i class="flaticon-delete-1"></i> Eliminar</a>
    </li>
    {% endif %}
    <li class="list-inline-item">
        <button class="btn btn-sm btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
            <i class="flaticon-edit"></i>
            <span class="ladda-label">{{ action |default('Guardar') }}</span>
            <span class="ladda-spinner"></span>
        </button>
    </li>
</ul>
{{ form_end(form) }}