<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles del código postal
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Nombre del Asentamiento</th>
                            <td colspan="3">{{ codigo_postal.dAsenta | default('Indefinido') }}</td>
                        </tr>
                        <tr>
                            <th>Tipo de Asentamiento</th>
                            <td>{{ codigo_postal.tipoasentamiento }}</td>
                        </tr>
                        <tr>
                            <th>Municipio</th>
                            <td>{{ codigo_postal.municipio }}</td>
                        </tr>
                        <tr>
                            <th>Ciudad</th>
                            <td>{{ codigo_postal.ciudad | default('Indefinido')}}</td>
                        </tr>
                        <tr>
                            <th>D_cp</th>
                            <td>{{ codigo_postal.dCp }}</td>
                        </tr>
                        <tr>
                            <th>Estado</th>
                            <td>{{ codigo_postal.estado }}</td>
                        </tr>
                        <tr>
                            <th>Código Postal de la Administración Postal que reparte el Asentamiento</th>
                            <td>{{ codigo_postal.cCP }}</td>
                        </tr>

                        <tr>
                            <th>Identificador Único del Asentamiento(Nivel Municipal)</th>
                            <td>{{ codigo_postal.idAsentaCpcons }}</td>
                        </tr>
                        <tr>
                            <th>Zona en la que se ubica el Asentamiento</th>
                            <td>{{ codigo_postal.dZona }}</td>
                        </tr>
                        <tr>
                            <th>Estatus</th>
                            <td>{{ codigo_postal.estatus }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
        </div>
    </div>
</div>