{% extends 'layout/autenticado.html.twig' %}
{% block body %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Estadísticas</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            Resumen por localidad
                        </h3>
                    </div>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-3">{{ form_row(form.estado) }}</div>
                        <div class="col-md-3">{{ form_row(form.municipio) }}</div>
                        <div class="col-md-3">{{ form_row(form.ciudad) }}</div>
                        <div class="col-md-3 kt-padding-t-30">
                            <button class="btn btn-info btn-sm">
                                <i class="fa fa-search"></i>Filtrar
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                    {% if  result is defined %}
                        <h4 class="kt-margin-t-40">Resultados</h4>
                        <hr/>
                        <table class="table" id="escuela_entity_table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Ccts</th>
                                <th>Código postal</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i=1 %}
                            {% for escuela in result %}
                                <tr>
                                    <td>{{ i }}</td>
                                    <td>{{ escuela.escuela }}</td>
                                    <td>{{ escuela.ccts }}</td>
                                    <td>{% if escuela.getDCodigo() is not empty %}  {{ escuela.getDCodigo().__toString() }} {% endif %}</td>
                                    <td>
                                        <ul class="hidden_element list-inline pull-right">
                                            <li class="list-inline-item">
                                                <a class="btn default btn-sm"
                                                   href="{{ path('escuela_show', {'id': escuela.id}) }}"><i
                                                            class="fa fa-eye"></i>Visualizar</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                {% set i=1+i %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center"><i>No hay datos que mostrar</i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/estadistica/localidad.js','app') }}" type="text/javascript"></script>
    <script>
        localidad.init();
    </script>
{% endblock %}
