<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles del diagnóstico
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Identificador de plantel</th>
                            <td>{{ diagnostico_plantel.iddiagnosticoplantel }}</td>
                            <th>Proyecto</th>
                            <td>{{ diagnostico_plantel.proyecto }}</td>
                        </tr>
                        <tr>
                            <th>Número de aulas</th>
                            <td>{{ diagnostico_plantel.numeroaulas }}</td>
                            <th>Condiciones de Aulas</th>
                            <td>{{ diagnostico_plantel.idcondicionesAula }}</td>
                        </tr>
                        <tr>
                            <th>Número de sanitarios</th>
                            <td>{{ diagnostico_plantel.numerosanitarios }}</td>
                            <th>Condiciones de los sanitarios</th>
                            <td>{{ diagnostico_plantel.idcondicionessanitarios }}</td>
                        </tr>
                        <tr>
                            <th>Número de oficinas</th>
                            <td>{{ diagnostico_plantel.numerooficinas }}</td>
                            <th>Condiciones oficinas</th>
                            <td>{{ diagnostico_plantel.idcondicionoficina }}</td>
                        </tr>
                        <tr>
                            <th>Número de bibliotecas</th>
                            <td>{{ diagnostico_plantel.numerobibliotecas }}</td>
                            <th>Condiciones de bliblioteca</th>
                            <td>{{ diagnostico_plantel.idcondicionesbliblioteca }}</td>
                        </tr>
                        <tr>
                            <th>Número de aulas de medios</th>
                            <td>{{ diagnostico_plantel.numeroaulasmedios }}</td>
                            <th>Condiciones de aulas medios</th>
                            <td>{{ diagnostico_plantel.idcondicionaulamedios }}</td>
                        </tr>
                        <tr>
                            <th>Número de patios</th>
                            <td>{{ diagnostico_plantel.numeropatio }}</td>
                            <th>Condiciones de patios</th>
                            <td>{{ diagnostico_plantel.idcondicionpatio }}</td>
                        </tr>
                        <tr>
                            <th>Número de canchas deportivas</th>
                            <td>{{ diagnostico_plantel.numerocanchasdeportivas }}</td>
                            <th>Condiciones de canchas deportivas</th>
                            <td>{{ diagnostico_plantel.idcondicioncanchasdeportivas }}</td>
                        </tr>
                        <tr>
                            <th>Número de bardas</th>
                            <td>{{ diagnostico_plantel.numerobarda }}</td>
                            <th>Condiciones de bardas</th>
                            <td>{{ diagnostico_plantel.idcondicionbarda }}</td>
                        </tr>
                        <tr>
                            <th>Agua potable</th>
                            <td>{{ diagnostico_plantel.aguapotable ? 'Sí' : 'No' }}</td>
                            <th>Condicion de agua</th>
                            <td>{{ diagnostico_plantel.idcondicionagua }}</td>
                        </tr>
                        <tr>
                            <th>Drenaje</th>
                            <td>{{ diagnostico_plantel.drenaje ? 'Sí' : 'No' }}</td>
                            <th>Condiciones de drenaje</th>
                            <td>{{ diagnostico_plantel.idcondiciondrenaje }}</td>
                        </tr>
                        <tr>
                            <th>Energía electrica</th>
                            <td>{{ diagnostico_plantel.energiaelectrica ? 'Sí' : 'No' }}</td>
                            <th>Condiciones de energía</th>
                            <td>{{ diagnostico_plantel.idcondicionenergia }}</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>{{ diagnostico_plantel.telefono ? 'Sí' : 'No' }}</td>
                            <th>Condiciones de teléfono</th>
                            <td>{{ diagnostico_plantel.idcondiciontelefono }}</td>
                        </tr>
                        <tr>
                            <th>Internet</th>
                            <td>{{ diagnostico_plantel.internet ? 'Sí' : 'No' }}</td>
                            <th>Condiciones de internet</th>
                            <td>{{ diagnostico_plantel.idcondicioninternet }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" href="{{ path('diagnostico_plantel_descargar',{'id':diagnostico_plantel.id}) }}"> <i class="fa fa-download"></i>Descargar</a>
            <a class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
        </div>
    </div>
</div>




